<div class='product1'>
	    
        <dic class="product-image">
        <%if product.assets.first!=nil %>
                <%= link_to( image_tag(product.assets.first.asset.url(:display)), product ) %>
                <div class="center">
                   <div class= 'product-name'>
                   <%= link_to product.name, product %>
                   </div>
                   <div class= 'product-price'>
                      $ <%= product.price %>
                   </div> 
                </div>
        <%else %>
                <%= link_to( image_tag("default-product.png"), product ) %>
                <div class="center">
                    <div class= 'product-name'>
                    <%= link_to product.name, product %>
                    </div>
                    <div class= 'product-price'>
                    $ <%= product.price %>
                    </div> 
                </div>
        <%end%>
        </div>
        

	   
</div>
       



