
	    
        
        <%if product.assets.first!=nil %>
        <div class='product1'>
            <div class="product-image">
                <%= link_to( image_tag(product.assets.first.asset.url(:grid)), product ) %>
            </div>
                <div class="center">
                   <div class= 'product-name'>
                   <%= link_to product.name, product %>
                   </div>
                   <div class= 'product-price'>
                      $ <%= product.price %>
                   </div> 
                </div>
        </div>
        
        <%else %>
        <div class='product1'>
            <div class="product-image">
                <%= link_to( image_tag("default-product-grid.png"), product ) %>
            </div>
                <div class="center">
                    <div class= 'product-name'>
                    <%= link_to product.name, product %>
                    </div>
                    <div class= 'product-price'>
                    $ <%= product.price %>
                    </div> 
                </div>
        </div>
        <%end%>
        
        

	   

       



